1층의 안내데스크와 2층 ~ 30층의 퀴즈층과 이벤트총 30층. 중측예정
탈출은 1층을 제외한 특정 층
기회는 총 2번 주어지며 플레이어 한명당 티켓을 사용해서 한번 더 기회를 얻을 수 있다.
기회를 2번 다 소진하면 메모를 작성해서 다음 플레이어에게 내용을 남길 수 있다. 다음 사람은 메모를 볼 수 있고 메모는 계속해서 입력할 수 있습니다. 
플레이어는 층 번호를 직접 입력하여 이동합니다.
기회를 다 소진하면 플레이 불가능 원하는 사람에게 파일을 보내 게임을 지속
게임 종료 조건: 프로그램 자체적으로 게임이 완전히 종료되는 유일한 시점은 모든 참가 플레이어가 탈락하거나 탈출에 성공했을 때입니다.
사회적 종료: 하지만, 이 규칙은 누군가 파일을 더 이상 넘기지 않는다면 의미가 없습니다. 따라서 게임의 실질적인 종료는 플레이어의 의지에 달려있습니다.
승리 후 진행: 승리자가 나와도 게임은 멈추지 않고 계속됩니다. 승리자는 메모를 남기고, 다음 플레이어에게 턴이 넘어갑니다.
패배 후 진행: 탈락자가 나와도 게임은 멈추지 않고 계속됩니다. 탈락자는 메모를 남기고, 다음 플레이어에게 턴이 넘어갑니다.
